.caja1 {

	width: 500px;
	height: 700px;
	margin: 0 auto;
	border: solid 2px #000;
	background-color: pink;

}

.caja2 {

	width: 500px;
	height: 700px;
	margin: 0 auto;
	border: solid 2px #000;
	background-color: turquoise;
	color: black;
	text-align: center;

}
